<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Book</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap-grid.min.css" />
</head>

<body>
    <section class="addBook">
        <div class="container">
            <div class="row">
                <div class="col-6 d-md-block d-none left">
                    <img class="img" src="./assets/img/svg/add-book.svg" alt="" />
                    <div class="informs">
                        <h1 class="informs__title">Ulugbek hazinasi</h1>
                        <button class="form__button btn" type="submit">
                            Upload cover
                        </button>
                    </div>
                </div>
                <div class="col-12 col-md-6 right">
                    <form class="form" action="" method="post" id="login">
                        <h1 class="form__title">Add book</h1>
                        <div class="form__input--group">
                            <input class="input form__input" autofocus placeholder="Title" type="text" />
                        </div>
                        <div class="form__input--group">
                            <input class="input form__input" autofocus placeholder="Pages" type="number" />
                        </div>
                        <div class="form__input--group">
                            <input class="input form__input" autofocus placeholder="Genre" type="text" />
                        </div>
                        <div class="form__input--group">
                            <input class="input form__input" autofocus placeholder="Year" type="datetime" />
                        </div>
                        <div class="form__input--group">
                            <input class="input form__input" autofocus placeholder="Price" type="number" />
                        </div>
                        <div class="form__input--group">
                            <input class="input form__input" autofocus placeholder="Country" type="text" />
                        </div>
                        <div class="form__input--group">
                            <input class="input form__input" autofocus placeholder="Author" type="text" />
                        </div>
                        <div class="form__input--group">
                            <textarea class="input form__input" placeholder="Description"></textarea>
                        </div>
                        <button class="form__button btn" type="submit">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script defer src="./js/router.js"></script>
</body>

</html>