<div id="authorDetails">
  <img
    class="authorDetails__bg-img"
    src="./assets/img/booksHome/background/ornament.png"
    alt="bg"
  />
  <section class="authorDetails">
    <div
      class="container-sm container-md container-lg container-xl container-xxl"
    >
      <div class="row">
        <div class="col-12 col-md-5 mb-10 mb-md-0">
          <img
            class="authorDetails__img"
            src="./assets/img/authorDetails/Rectangle 3.png"
            alt="authorDetails-img"
          />
          <div class="authorDetails__date mt-8">
            <p class="authorDetails__date-item">
              <span class="me-4"> Tavallud sanasi </span>
              <span class="ms-20"> Tavallud sanasi </span>
            </p>
            <div class="authorDetails__date-num">5-Avg 1941 - 24-MAY 2013</div>
            <p class="authorDetails__date-item">
              <span> Toshkent, Uzbekistan </span>
              <span class="ms-17"> Toshkent, Uzbekistan </span>
            </p>
          </div>
        </div>
        <div class="col-12 col-md-7 ps-5 ps-md-5">
          <h1 class="authorDetails__title">O'tkir Hoshimov</h1>
          <p class="authorDetails__overview mt-4">
            Oʻtkir Hoshimov 1941 yil Toshkent viloyatining Zangiota (hozirgi
            Chilonzor) tumanidagi Doʻmbiravot mavzeida tugʻildi. Oʻ. Hoshimov
            mehnat faoliyatini erta boshladi. Toshkent Davlat universiteti
            (hozirgi Oʻzbekiston Milliy universiteti)ning jurnalistika
            kulliyotida oʻqish bilan baravar gazeta tahririyatida ishladi. 1959
            yildan 1963 yilgacha “Temiryoʻlchi”, “Qizil Oʻzbekiston”,
            “Transportniy rabochiy” gazetalarida xat tashuvchi, mussaxhih,
            tarjimon boʻlib ishladi. Soʻng “Toshkent haqiqati” gazetasida adabiy
            xodim (1963–1966), “Toshkent oqshomi” gazetasida boʻlim mudiri
            (1966–1982), Gʻ. Gʻulom nomidagi Adabiyot va sanʼat nashriyotida
            bosh muharrir oʻrinbosari (1982–1985) boʻldi. 1985–1995 yillarda
            “Sharq yulduzi” jurnaliga bosh muharrirlik qildi. 1995 yildan 2005
            yilgacha Oʻzbekiston Respublikasi Oliy Majlisining Matbuot va
            axborot qoʻmitasi raisi lavozimida ishladi. 2005 yildan “Teatr“
            jurnalida bosh muharrir boʻlib ishladi.
          </p>
          <div class="authorDetails__creation mt-6 mb-10">
            <div class="authorDetails__creation-title">ijodi</div>
            <p class="authorDetails__creation-text">
              Yozuvchining ilk asari 1962-yilda „Poʻlat chavandoz“ nomida
              ocherklar toʻplami tarzida nashrdan chiqdi. Ammo yozuvchiga
              muvaffaqiyat keltirgan asar 1970-yilda nashr qilingan „Bahor
              qaytmaydi“ qissasi boʻldi.
            </p>
          </div>
          <div class="bookrecommend__title-wrapper mb-10">
            <div class="row bookrecommend__title">Sizga yoqishi mumkin</div>
            <a class="bookrecommend__title-link" href="#">Barchasini ko'rish</a>
          </div>
          <div class="row bookrecommend__card-wrapper">
            <div class="col bookrecommend__card">
              <div class="bookrecommend__card-img mb-3">
                <img
                  src="./assets/img/booksHome/books/image -5.png"
                  alt="books img"
                />
              </div>
              <div class="bookrecommend__card-title">dunyoning ishlari</div>
              <div class="bookrecommend__card-comments">
                <i class="fas fa-star"></i>
                4.1 - 3400 ta fikrlar
              </div>
            </div>
            <div class="col bookrecommend__card">
              <div class="bookrecommend__card-img mb-3">
                <img
                  src="./assets/img/booksHome/books/image -5.png"
                  alt="books img"
                />
              </div>
              <div class="bookrecommend__card-title">dunyoning ishlari</div>
              <div class="bookrecommend__card-comments">
                <i class="fas fa-star"></i>
                4.1 - 3400 ta fikrlar
              </div>
            </div>
            <div class="col bookrecommend__card">
              <div class="bookrecommend__card-img mb-3">
                <img
                  src="./assets/img/booksHome/books/image -5.png"
                  alt="books img"
                />
              </div>
              <div class="bookrecommend__card-title">dunyoning ishlari</div>
              <div class="bookrecommend__card-comments">
                <i class="fas fa-star"></i>
                4.1 - 3400 ta fikrlar
              </div>
            </div>
            <div class="col bookrecommend__card">
              <div class="bookrecommend__card-img mb-3">
                <img
                  src="./assets/img/booksHome/books/image -5.png"
                  alt="books img"
                />
              </div>
              <div class="bookrecommend__card-title">dunyoning ishlari</div>
              <div class="bookrecommend__card-comments">
                <i class="fas fa-star"></i>
                4.1 - 3400 ta fikrlar
              </div>
            </div>
            <div class="col bookrecommend__card">
              <div class="bookrecommend__card-img mb-3">
                <img
                  src="./assets/img/booksHome/books/image -5.png"
                  alt="books img"
                />
              </div>
              <div class="bookrecommend__card-title">dunyoning ishlari</div>
              <div class="bookrecommend__card-comments">
                <i class="fas fa-star"></i>
                4.1 - 3400 ta fikrlar
              </div>
            </div>
            <div class="col bookrecommend__card">
              <div class="bookrecommend__card-img mb-3">
                <img
                  src="./assets/img/booksHome/books/image -5.png"
                  alt="books img"
                />
              </div>
              <div class="bookrecommend__card-title">dunyoning ishlari</div>
              <div class="bookrecommend__card-comments">
                <i class="fas fa-star"></i>
                4.1 - 3400 ta fikrlar
              </div>
            </div>
            <div class="col bookrecommend__card">
              <div class="bookrecommend__card-img mb-3">
                <img
                  src="./assets/img/booksHome/books/image -5.png"
                  alt="books img"
                />
              </div>
              <div class="bookrecommend__card-title">dunyoning ishlari</div>
              <div class="bookrecommend__card-comments">
                <i class="fas fa-star"></i>
                4.1 - 3400 ta fikrlar
              </div>
            </div>
            <div class="col bookrecommend__card">
              <div class="bookrecommend__card-img mb-3">
                <img
                  src="./assets/img/booksHome/books/image -5.png"
                  alt="books img"
                />
              </div>
              <div class="bookrecommend__card-title">dunyoning ishlari</div>
              <div class="bookrecommend__card-comments">
                <i class="fas fa-star"></i>
                4.1 - 3400 ta fikrlar
              </div>
            </div>
            <div class="col bookrecommend__card">
              <div class="bookrecommend__card-img mb-3">
                <img
                  src="./assets/img/booksHome/books/image -5.png"
                  alt="books img"
                />
              </div>
              <div class="bookrecommend__card-title">dunyoning ishlari</div>
              <div class="bookrecommend__card-comments">
                <i class="fas fa-star"></i>
                4.1 - 3400 ta fikrlar
              </div>
            </div>
            <div class="col bookrecommend__card">
              <div class="bookrecommend__card-img mb-3">
                <img
                  src="./assets/img/booksHome/books/image -5.png"
                  alt="books img"
                />
              </div>
              <div class="bookrecommend__card-title">dunyoning ishlari</div>
              <div class="bookrecommend__card-comments">
                <i class="fas fa-star"></i>
                4.1 - 3400 ta fikrlar
              </div>
            </div>
            <div class="col bookrecommend__card">
              <div class="bookrecommend__card-img mb-3">
                <img
                  src="./assets/img/booksHome/books/image -5.png"
                  alt="books img"
                />
              </div>
              <div class="bookrecommend__card-title">dunyoning ishlari</div>
              <div class="bookrecommend__card-comments">
                <i class="fas fa-star"></i>
                4.1 - 3400 ta fikrlar
              </div>
            </div>
            <div class="col bookrecommend__card">
              <div class="bookrecommend__card-img mb-3">
                <img
                  src="./assets/img/booksHome/books/image -5.png"
                  alt="books img"
                />
              </div>
              <div class="bookrecommend__card-title">dunyoning ishlari</div>
              <div class="bookrecommend__card-comments">
                <i class="fas fa-star"></i>
                4.1 - 3400 ta fikrlar
              </div>
            </div>
            <div class="col bookrecommend__card">
              <div class="bookrecommend__card-img mb-3">
                <img
                  src="./assets/img/booksHome/books/image -5.png"
                  alt="books img"
                />
              </div>
              <div class="bookrecommend__card-title">dunyoning ishlari</div>
              <div class="bookrecommend__card-comments">
                <i class="fas fa-star"></i>
                4.1 - 3400 ta fikrlar
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
