<div id="bookview">
  <img
    class="bookview__bg-img"
    src="./assets/img/booksHome/background/ornament.png"
    alt="bg"
  />
  <header class="header">
    <div
      class="container-sm container-md container-lg container-xl container-xxl"
    >
      <a class="logo" href="/">
        <img
          class="logo__img"
          src="./assets/img/logo/Badiiyat.png"
          alt="logo-img"
        />
      </a>
      <input type="checkbox" name="" id="checkbox" />
      <label for="checkbox">
        <span class="header__menu-item"></span>
        <span class="header__menu-item"></span>
        <span class="header__menu-item"></span>
      </label>
      <ul class="header__list">
        <li class="header__list-item">
          <a class="header__link" href="#"> bosh sahifa </a>
        </li>
        <li class="header__list-item">
          <a class="header__link" href="#"> nasr </a>
        </li>
        <li class="header__list-item">
          <a class="header__link" href="#"> nazm </a>
        </li>
        <li class="header__list-item">
          <a class="header__link" href="#"> maqolalar </a>
        </li>
        <li class="header__list-item">
          <a class="header__link" href="#"> forum </a>
        </li>
      </ul>
      <details class="header__author me-5 me-sm-0">
        <summary>
          <img
            src="./assets/img/booksHome/logo/image 6.png"
            alt="author-logo"
          />
        </summary>
        <div class="header__author-item p-4">
          <p>
            <a href="mailto:hege@example.com">hege@example.com</a>
          </p>
          <p>
            <a href="mailto:hege@example.com">hege@example.com</a>
          </p>
          <p>
            <a href="mailto:hege@example.com">hege@example.com</a>
          </p>
          <p>
            <a href="mailto:hege@example.com">hege@example.com</a>
          </p>
          <p>
            <a href="mailto:hege@example.com">hege@example.com</a>
          </p>
        </div>
        <!-- <i class="fas fa-angle-down ms-2"></i> -->
      </details>
    </div>
  </header>

  <section class="bookview">
    <div
      class="container-sm container-md container-lg container-xl container-xxl"
    >
      <div class="row">
        <div class="col-12 col-md-5 mb-10 mb-md-0">
          <img
            class="bookview__img"
            src="./assets/img/bookView/image 18.png"
            alt="bookview-img"
          />
        </div>
        <div class="col-12 col-md-7 ps-5 ps-md-3">
          <h1 class="bookview__title">qo'rqma</h1>
          <p class="bookview__author mt-3 mb-8">
            <span> javlon jovliyev </span>
            <span class="bookview__author-star ms-2">
              <i class="fas fa-star"></i>
              4.1
            </span>
          </p>
          <p class="bookview__num mb-4">
            <span class="bookview__num-item"> Sahifalar soni: </span>
            <span class="ms-1"> 376 </span>
          </p>
          <p class="bookview__num mb-4">
            <span class="bookview__num-item"> Chop etilgan: </span>
            <span class="ms-1"> 2021 </span>
          </p>
          <p class="bookview__num mb-4">
            <span class="bookview__num-item"> Janri: </span>
            <span class="ms-1"> Tarixiy </span>
          </p>
          <p class="bookview__num mb-4">
            <span class="bookview__num-item"> Nashriyot: </span>
            <span class="ms-1"> Nihol nashri </span>
          </p>
          <div class="bookview__item-info mt-10">
            <p class="bookview__item-title mb-10">
              <span class="maindanger"> To'liq ma'lumot </span>
              <span> > </span>
              <span class="bookview_line"></span>
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Inventore, repellendus consequatur aut suscipit eos iure,
              asperiores quo quibusdam alias nisi aliquid optio quas? Similique
              est suscipit harum repellat asperiores, inventore fugiat eius
              deserunt consectetur quae.
              <br />
              <br />
              <br />
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Distinctio numquam dolore voluptate voluptas quisquam omnis quia
              eligendi, reiciendis, eaque et nisi exercitationem hic provident
              vel error beatae minus qui dolorem? Odit officiis repellendus
              similique nam molestiae sed placeat recusandae quae, tempora
              mollitia fugit voluptates est maiores, aut suscipit, animi
              accusantium sequi odio nesciunt debitis rem impedit illo
              doloribus. Fugit culpa, perferendis qui perspiciatis totam
              excepturi inventore ea reprehenderit adipisci error?
            </p>
          </div>
          <div class="bookview__books mt-9">
            <p class="bookview__books-title">Mavjud formatlar</p>
            <div class="row bookview__books-inner mt-6">
              <div class="col-md-4 col-lg-2 mb-3 bookview__books-card">
                <div class="bookview__books-icon mb-2">
                  <i class="fas fa-book"></i>
                </div>
                <p class="bookview__books-suptitle mb-1">Qog'oz kitob</p>
                <p class="bookview__books-price">27 000 so'm</p>
              </div>
              <div class="col-md-4 col-lg-2 mb-3 bookview__books-card">
                <div class="bookview__books-icon mb-2">
                  <i class="fas fa-book"></i>
                </div>
                <p class="bookview__books-suptitle mb-1">Audio kitob</p>
                <p class="bookview__books-price">623 soat</p>
              </div>
              <div class="col-md-4 col-lg-2 mb-3 bookview__books-card">
                <div class="bookview__books-icon mb-2">
                  <i class="fas fa-book"></i>
                </div>
                <p class="bookview__books-suptitle mb-1">Elektron kitob</p>
                <p class="bookview__books-price">pdf, epub</p>
              </div>
              <div class="col-sm-5 col-lg-6 mb-3 bookview__books-btn ms-a">
                <button>Javonga qo'shish</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bookinfo mt-8">
    <div
      class="container-sm container-md container-lg container-xl container-xxl"
    >
      <ul class="bookinfo__list">
        <li class="bookinfo__list-item">
          <a href="#" class="bookinfo__link"> Muallif haqida </a>
        </li>
        <li class="bookinfo__list-item">
          <a href="#" class="bookinfo__link"> Kitobdan iqtiboslar </a>
        </li>
        <li class="bookinfo__list-item">
          <a href="#" class="bookinfo__link"> Kitoblar taqrizi </a>
        </li>
      </ul>
      <div class="row mt-10">
        <div class="col-sm-6 mb-10 mb-sm-0">
          <img
            class="bookinfo__qoutation"
            src="./assets/img/bookView/“.png"
            alt="''"
          />
          <div class="bookinfo__qoute">
            <p class="bookinfo__qoute-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam
              minima, aut exercitationem cumque culpa sequi quod rerum doloribus
              consequuntur ipsa ratione placeat explicabo non maxime architecto
              illum reprehenderit autem ipsam laborum expedita dolorum?
              Consequatur.
            </p>
            <img
              class="bookinfo__img"
              src="./assets/img/bookView/Vector.png"
              alt="vector"
            />
            <div class="bookinfo__qoute-links mt-2">
              <a class="me-3" href="#">
                <i class="fas fa-heart"></i>
              </a>
              <a class="" href="#">
                <i class="fas fa-share-alt"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-10 mb-sm-0">
          <img
            class="bookinfo__qoutation"
            src="./assets/img/bookView/“.png"
            alt="''"
          />
          <div class="bookinfo__qoute">
            <p class="bookinfo__qoute-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam
              minima, aut exercitationem cumque culpa sequi quod rerum doloribus
              consequuntur ipsa ratione placeat explicabo non maxime architecto
              illum reprehenderit autem ipsam laborum expedita dolorum?
              Consequatur.
            </p>
            <img
              class="bookinfo__img"
              src="./assets/img/bookView/Vector.png"
              alt="vector"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bookrecommend pb-5">
    <div
      class="container-sm container-md container-lg container-xl container-xxl"
    >
      <div class="bookrecommend__title-wrapper mb-10">
        <div class="row bookrecommend__title">Sizga yoqishi mumkin</div>
        <a class="bookrecommend__title-link" href="#">Barchasini ko'rish</a>
      </div>
      <div class="row bookrecommend__card-wrapper">
        <div class="col bookrecommend__card">
          <div class="bookrecommend__card-img mb-3">
            <img
              src="./assets/img/booksHome/books/image -5.png"
              alt="books img"
            />
          </div>
          <div class="bookrecommend__card-title">dunyoning ishlari</div>
          <div class="bookrecommend__card-comments">
            <i class="fas fa-star"></i>
            4.1 - 3400 ta fikrlar
          </div>
        </div>
        <div class="col bookrecommend__card">
          <div class="bookrecommend__card-img mb-3">
            <img
              src="./assets/img/booksHome/books/image -5.png"
              alt="books img"
            />
          </div>
          <div class="bookrecommend__card-title">dunyoning ishlari</div>
          <div class="bookrecommend__card-comments">
            <i class="fas fa-star"></i>
            4.1 - 3400 ta fikrlar
          </div>
        </div>
        <div class="col bookrecommend__card">
          <div class="bookrecommend__card-img mb-3">
            <img
              src="./assets/img/booksHome/books/image -5.png"
              alt="books img"
            />
          </div>
          <div class="bookrecommend__card-title">dunyoning ishlari</div>
          <div class="bookrecommend__card-comments">
            <i class="fas fa-star"></i>
            4.1 - 3400 ta fikrlar
          </div>
        </div>
        <div class="col bookrecommend__card">
          <div class="bookrecommend__card-img mb-3">
            <img
              src="./assets/img/booksHome/books/image -5.png"
              alt="books img"
            />
          </div>
          <div class="bookrecommend__card-title">dunyoning ishlari</div>
          <div class="bookrecommend__card-comments">
            <i class="fas fa-star"></i>
            4.1 - 3400 ta fikrlar
          </div>
        </div>
        <div class="col bookrecommend__card">
          <div class="bookrecommend__card-img mb-3">
            <img
              src="./assets/img/booksHome/books/image -5.png"
              alt="books img"
            />
          </div>
          <div class="bookrecommend__card-title">dunyoning ishlari</div>
          <div class="bookrecommend__card-comments">
            <i class="fas fa-star"></i>
            4.1 - 3400 ta fikrlar
          </div>
        </div>
        <div class="col bookrecommend__card">
          <div class="bookrecommend__card-img mb-3">
            <img
              src="./assets/img/booksHome/books/image -5.png"
              alt="books img"
            />
          </div>
          <div class="bookrecommend__card-title">dunyoning ishlari</div>
          <div class="bookrecommend__card-comments">
            <i class="fas fa-star"></i>
            4.1 - 3400 ta fikrlar
          </div>
        </div>
        <div class="col bookrecommend__card">
          <div class="bookrecommend__card-img mb-3">
            <img
              src="./assets/img/booksHome/books/image -5.png"
              alt="books img"
            />
          </div>
          <div class="bookrecommend__card-title">dunyoning ishlari</div>
          <div class="bookrecommend__card-comments">
            <i class="fas fa-star"></i>
            4.1 - 3400 ta fikrlar
          </div>
        </div>
        <div class="col bookrecommend__card">
          <div class="bookrecommend__card-img mb-3">
            <img
              src="./assets/img/booksHome/books/image -5.png"
              alt="books img"
            />
          </div>
          <div class="bookrecommend__card-title">dunyoning ishlari</div>
          <div class="bookrecommend__card-comments">
            <i class="fas fa-star"></i>
            4.1 - 3400 ta fikrlar
          </div>
        </div>
        <div class="col bookrecommend__card">
          <div class="bookrecommend__card-img mb-3">
            <img
              src="./assets/img/booksHome/books/image -5.png"
              alt="books img"
            />
          </div>
          <div class="bookrecommend__card-title">dunyoning ishlari</div>
          <div class="bookrecommend__card-comments">
            <i class="fas fa-star"></i>
            4.1 - 3400 ta fikrlar
          </div>
        </div>
        <div class="col bookrecommend__card">
          <div class="bookrecommend__card-img mb-3">
            <img
              src="./assets/img/booksHome/books/image -5.png"
              alt="books img"
            />
          </div>
          <div class="bookrecommend__card-title">dunyoning ishlari</div>
          <div class="bookrecommend__card-comments">
            <i class="fas fa-star"></i>
            4.1 - 3400 ta fikrlar
          </div>
        </div>
        <div class="col bookrecommend__card">
          <div class="bookrecommend__card-img mb-3">
            <img
              src="./assets/img/booksHome/books/image -5.png"
              alt="books img"
            />
          </div>
          <div class="bookrecommend__card-title">dunyoning ishlari</div>
          <div class="bookrecommend__card-comments">
            <i class="fas fa-star"></i>
            4.1 - 3400 ta fikrlar
          </div>
        </div>
        <div class="col bookrecommend__card">
          <div class="bookrecommend__card-img mb-3">
            <img
              src="./assets/img/booksHome/books/image -5.png"
              alt="books img"
            />
          </div>
          <div class="bookrecommend__card-title">dunyoning ishlari</div>
          <div class="bookrecommend__card-comments">
            <i class="fas fa-star"></i>
            4.1 - 3400 ta fikrlar
          </div>
        </div>
        <div class="col bookrecommend__card">
          <div class="bookrecommend__card-img mb-3">
            <img
              src="./assets/img/booksHome/books/image -5.png"
              alt="books img"
            />
          </div>
          <div class="bookrecommend__card-title">dunyoning ishlari</div>
          <div class="bookrecommend__card-comments">
            <i class="fas fa-star"></i>
            4.1 - 3400 ta fikrlar
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
