<section class="booksearch">
  <div
    class="container container-sm container-md container-lg container-xl container-xxl p-5"
  >
    <div class="row my-3">
      <div class="col">
        <div class="row">
          <div class="booksearch__title">
            <img
              class="booksearch__img"
              src="./assets/img/booksHome/search/Qidirish.png"
              alt="booksearch-img"
            />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-8">
            <input
              class="booksearch__issue p-sm-3 p-2 ms-lg-10"
              type="text"
              placeholder="Adiblar, kitoblar, audiolar, maqolalar..."
            />
          </div>
          <div class="col-4">
            <button class="booksearch__btn btn p-sm-3 p-2 ms-lg-13">
              <i class="fab fa-searchengin"></i>
              Izlash
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bookcategories">
  <div
    class="container-sm container-md container-lg container-xl container-xxl"
  >
    <div class="row mb-5">
      <div class="col">
        <h1 class="bookcategories__title">asosiy kategoriyalar</h1>
      </div>
    </div>
    <ul class="bookcategories__list">
      <li class="bookcategories__list-item me-md-5">
        <a class="bookcategories__link" href="#"> Temuriylar davri </a>
      </li>
      <li class="bookcategories__list-item me-md-5">
        <a class="bookcategories__link" href="#"> Jadid adabiyoti </a>
      </li>
      <li class="bookcategories__list-item me-md-5">
        <a class="bookcategories__link" href="#"> Sovet davri </a>
      </li>
      <li class="bookcategories__list-item">
        <a class="bookcategories__link" href="#"> Mustaqillik davri </a>
      </li>
    </ul>
    <div class="row">
      <div class="col">
        <div class="bookcategories__card">
          <div class="bookcategories__card-img mb-3">
            <img
              src="./assets/img/booksHome/books/image -5.png"
              alt="books img"
            />
          </div>
          <div class="bookcategories__card-title">dunyoning ishlari</div>
          <div class="bookcategories__card-author">O'tkir Hoshimov</div>
          <div class="bookcategories__card-comments">
            <i class="fas fa-star"></i>
            4.1 - 3400 ta fikrlar
          </div>
        </div>
      </div>
      <div class="col">
        <div class="bookcategories__card">
          <div class="bookcategories__card-img mb-3">
            <img
              src="./assets/img/booksHome/books/image -5.png"
              alt="books img"
            />
          </div>
          <div class="bookcategories__card-title">dunyoning ishlari</div>
          <div class="bookcategories__card-author">O'tkir Hoshimov</div>
          <div class="bookcategories__card-comments">
            <i class="fas fa-star"></i>
            4.1 - 3400 ta fikrlar
          </div>
        </div>
      </div>
      <div class="col">
        <div class="bookcategories__card">
          <div class="bookcategories__card-img mb-3">
            <img
              src="./assets/img/booksHome/books/image -5.png"
              alt="books img"
            />
          </div>
          <div class="bookcategories__card-title">dunyoning ishlari</div>
          <div class="bookcategories__card-author">O'tkir Hoshimov</div>
          <div class="bookcategories__card-comments">
            <i class="fas fa-star"></i>
            4.1 - 3400 ta fikrlar
          </div>
        </div>
      </div>
      <div class="col">
        <div class="bookcategories__card">
          <div class="bookcategories__card-img mb-3">
            <img
              src="./assets/img/booksHome/books/image -5.png"
              alt="books img"
            />
          </div>
          <div class="bookcategories__card-title">dunyoning ishlari</div>
          <div class="bookcategories__card-author">O'tkir Hoshimov</div>
          <div class="bookcategories__card-comments">
            <i class="fas fa-star"></i>
            4.1 - 3400 ta fikrlar
          </div>
        </div>
      </div>
      <div class="col">
        <div class="bookcategories__card">
          <div class="bookcategories__card-img mb-3">
            <img
              src="./assets/img/booksHome/books/image -5.png"
              alt="books img"
            />
          </div>
          <div class="bookcategories__card-title">dunyoning ishlari</div>
          <div class="bookcategories__card-author">O'tkir Hoshimov</div>
          <div class="bookcategories__card-comments">
            <i class="fas fa-star"></i>
            4.1 - 3400 ta fikrlar
          </div>
        </div>
      </div>
      <div class="col">
        <div class="bookcategories__card">
          <div class="bookcategories__card-img mb-3">
            <img
              src="./assets/img/booksHome/books/image -5.png"
              alt="books img"
            />
          </div>
          <div class="bookcategories__card-title">dunyoning ishlari</div>
          <div class="bookcategories__card-author">O'tkir Hoshimov</div>
          <div class="bookcategories__card-comments">
            <i class="fas fa-star"></i>
            4.1 - 3400 ta fikrlar
          </div>
        </div>
      </div>
      <div class="col">
        <div class="bookcategories__card">
          <div class="bookcategories__card-img mb-3">
            <img
              src="./assets/img/booksHome/books/image -5.png"
              alt="books img"
            />
          </div>
          <div class="bookcategories__card-title">dunyoning ishlari</div>
          <div class="bookcategories__card-author">O'tkir Hoshimov</div>
          <div class="bookcategories__card-comments">
            <i class="fas fa-star"></i>
            4.1 - 3400 ta fikrlar
          </div>
        </div>
      </div>
      <div class="col">
        <div class="bookcategories__card">
          <div class="bookcategories__card-img mb-3">
            <img
              src="./assets/img/booksHome/books/image -5.png"
              alt="books img"
            />
          </div>
          <div class="bookcategories__card-title">dunyoning ishlari</div>
          <div class="bookcategories__card-author">O'tkir Hoshimov</div>
          <div class="bookcategories__card-comments">
            <i class="fas fa-star"></i>
            4.1 - 3400 ta fikrlar
          </div>
        </div>
      </div>
      <div class="col">
        <div class="bookcategories__card">
          <div class="bookcategories__card-img mb-3">
            <img
              src="./assets/img/booksHome/books/image -5.png"
              alt="books img"
            />
          </div>
          <div class="bookcategories__card-title">dunyoning ishlari</div>
          <div class="bookcategories__card-author">O'tkir Hoshimov</div>
          <div class="bookcategories__card-comments">
            <i class="fas fa-star"></i>
            4.1 - 3400 ta fikrlar
          </div>
        </div>
      </div>
      <div class="col">
        <div class="bookcategories__card">
          <div class="bookcategories__card-img mb-3">
            <img
              src="./assets/img/booksHome/books/image -5.png"
              alt="books img"
            />
          </div>
          <div class="bookcategories__card-title">dunyoning ishlari</div>
          <div class="bookcategories__card-author">O'tkir Hoshimov</div>
          <div class="bookcategories__card-comments">
            <i class="fas fa-star"></i>
            4.1 - 3400 ta fikrlar
          </div>
        </div>
      </div>
      <div class="col">
        <div class="bookcategories__card">
          <div class="bookcategories__card-img mb-3">
            <img
              src="./assets/img/booksHome/books/image -5.png"
              alt="books img"
            />
          </div>
          <div class="bookcategories__card-title">dunyoning ishlari</div>
          <div class="bookcategories__card-author">O'tkir Hoshimov</div>
          <div class="bookcategories__card-comments">
            <i class="fas fa-star"></i>
            4.1 - 3400 ta fikrlar
          </div>
        </div>
      </div>
      <div class="col">
        <div class="bookcategories__card">
          <div class="bookcategories__card-img mb-3">
            <img
              src="./assets/img/booksHome/books/image -5.png"
              alt="books img"
            />
          </div>
          <div class="bookcategories__card-title">dunyoning ishlari</div>
          <div class="bookcategories__card-author">O'tkir Hoshimov</div>
          <div class="bookcategories__card-comments">
            <i class="fas fa-star"></i>
            4.1 - 3400 ta fikrlar
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
