<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="./assets/bootstrap/css/bootstrap-grid.min.css"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script defer type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <title>Books Home</title>
  </head>

  <body id="booksHome">
    <header class="header">
      <div
        class="container-sm container-md container-lg container-xl container-xxl"
      >
        <a class="logo" href="/">
          <img
            class="logo__img"
            src="./assets/img/logo/Badiiyat.png"
            alt="logo-img"
          />
        </a>
        <input type="checkbox" name="" id="checkbox" />
        <label for="checkbox">
          <span class="header__menu-item"></span>
          <span class="header__menu-item"></span>
          <span class="header__menu-item"></span>
        </label>
        <ul class="header__list">
          <li class="header__list-item">
            <a class="header__link" href="/home"> bosh sahifa </a>
          </li>
          <li class="header__list-item">
            <a class="header__link" href="/author"> aftorlar </a>
          </li>
          <li class="header__list-item">
            <a class="header__link" href="#"> nazm </a>
          </li>
          <li class="header__list-item">
            <a class="header__link" href="#"> maqolalar </a>
          </li>
          <li class="header__list-item">
            <a class="header__link" href="#"> forum </a>
          </li>
        </ul>
        <details class="header__author me-5 me-sm-0">
          <summary>
            <img
              src="./assets/img/booksHome/logo/image 6.png"
              alt="author-logo"
            />
          </summary>
          <div class="header__author-item p-4">
            <p>
              <a href="mailto:hege@example.com">hege@example.com</a>
            </p>
            <p>
              <a href="mailto:hege@example.com">hege@example.com</a>
            </p>
            <p>
              <a href="mailto:hege@example.com">hege@example.com</a>
            </p>
            <p>
              <a href="mailto:hege@example.com">hege@example.com</a>
            </p>
            <p>
              <a href="mailto:hege@example.com">hege@example.com</a>
            </p>
          </div>
        </details>
      </div>
    </header>
    <div id="root"></div>
    <script src="./js/router.js"></script>
  </body>
</html>
