<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <section class="_profile_page containers">
        <div class="_profile_block containers">
            <div class="_profile_name">
                <div class="_logo">
                    <img src="../assets/img/user/image 24.png " alt="">
                </div>
                <h2>Oltin Kitobxon</h2>
                <p>186 ta kitob o'qigan</p>
            </div>
            <div class="_logo_">
                <h2>Farruxbek Abdullayev</h2>
                <p>Tavallud: <span>February 08, 1999</span></p>
                <p>Manzili: <span>Jizzax</span></p>
                <p>Bio: <span>Graphic designer and Developer</span></p>
            </div>
        </div>
        <div class="_javon">
            <div class="_javon1">
                <h2>Javondagi kitoblar</h2>
                <li>
                    <img src="../assets/img/user/image 3.png" alt="">
                    <p>Ikki eshik orasi</p>
                    <button class="btn btn-danger">Delete</button>
                </li> 
                <div class="btn btns btn-danger">Barchasini ko'rish</div>  
            </div>
            
            <div class="_javon2">
                <div class="_sort">
                    <a href="#">O'qilganlar</a>
                    <a href="#">O'qilganlar</a>
                    <a href="#">O'qilganlar</a>
                </div>
                <div class="row">
                    <div class="col-3"><img src="../assets/img/booksHome/books/image 2.png" alt="">
                    <h2>Dunyoning ishlari</h2>
                    <p>O’tkir Hoshimov</p>
                    <span><i class="fas fa-star"></i> 4.1 • 3400 ta fikrlar</span>
                    </div>
                    <div class="col-3"><img src="../assets/img/booksHome/books/image 3.png" alt="">
                    <h2>Dunyoning ishlari</h2>
                    <p>O’tkir Hoshimov</p>
                    <span><i class="fas fa-star"></i> 4.1 • 3400 ta fikrlar</span>
                    </div>
                    <div class="col-3"><img src="../assets/img/booksHome/books/image 4.png" alt="">
                    <h2>Dunyoning ishlari</h2>
                    <p>O’tkir Hoshimov</p>
                    <span><i class="fas fa-star"></i> 4.1 • 3400 ta fikrlar</span>
                    </div>
                    <div class="col-3"><img src="../assets/img/booksHome/books/image 5.png" alt="">
                    <h2>Dunyoning ishlari</h2>
                    <p>O’tkir Hoshimov</p>
                    <span><i class="fas fa-star"></i> 4.1 • 3400 ta fikrlar</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3"><img src="../assets/img/booksHome/books/image0 4.png" alt="">
                    <h2>Dunyoning ishlari</h2>
                    <p>O’tkir Hoshimov</p>
                    <span><i class="fas fa-star"></i> 4.1 • 3400 ta fikrlar</span>
                    </div>
                    <div class="col-3"><img src="../assets/img/booksHome/books/image15.png" alt="">
                    <h2>Dunyoning ishlari</h2>
                    <p>O’tkir Hoshimov</p>
                    <span><i class="fas fa-star"></i> 4.1 • 3400 ta fikrlar</span>
                    </div>
                    <div class="col-3"><img src="../assets/img/booksHome/books/image2.png" alt="">
                    <h2>Dunyoning ishlari</h2>
                    <p>O’tkir Hoshimov</p>
                    <span><i class="fas fa-star"></i> 4.1 • 3400 ta fikrlar</span>
                    </div>
                    <div class="col-3"><img src="../assets/img/booksHome/books/image5.png" alt="">
                    <h2>Dunyoning ishlari</h2>
                    <p>O’tkir Hoshimov</p>
                    <span><i class="fas fa-star"></i> 4.1 • 3400 ta fikrlar</span>
                    </div>
                </div>

            </div>
        </div>
    </section>
</body>
</html>