    <section class="signIn">
        <div class="container">
            <div class="row">
                <div class="col-6 d-md-block d-none left">
                    <img class="img" src="./assets/img/svg/login-animate.svg" alt="" />
                </div>
                <div class="col-12 col-md-6 right">
                    <form class="form" id="signin-form">
                        <h1 class="form__title">Sign in</h1>
                        <p class="form__text">Do not you have an account?
                            <a class="form__link" href="/register" id="linkCreateAccount">Sign up</a></span>
                        </p>
                        <div class="form__input--group">
                            <input class="input form__input" name="email"  autofocus placeholder="Email" type="text" />
                        </div>
                        <div class="form__input--group">
                            <input class="input form__input form__input--error" name="password" placeholder="Password" type="password" />
                            <div class="form__input--error-message"></div>
                        </div>
                        <button class="form__button btn" type="submit">Next Step</button>
                    </form>
                </div>
            </div>
        </div>
    </section>