<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap-grid.min.css" />
</head>

<body>
    <section class="signUp">
        <div class="container">
            <div class="row">
                <div class="col-6 d-md-block d-none left">
                    <img class="img" src="./assets/img/svg/login-animate.svg" alt="" />
                </div>
                <div class="col-12 col-md-6 right">
                    <form class="form" action="" method="post" id="login">
                        <h1 class="form__title">Sign up</h1>
                        <p class="form__text">Already have an account?
                            <a class="form__link" href="./signin.html" id="linkCreateAccount">Sign in</a></span>
                        </p>
                        <div class="form__input--group">
                            <input class="input form__input" autofocus placeholder="First name" type="text" />
                        </div>
                        <div class="form__input--group">
                            <input class="input form__input" autofocus placeholder="Last name" type="text" />
                        </div>
                        <div class="form__input--group">
                            <input class="input form__input" autofocus placeholder="Phone" type="number" />
                        </div>
                        <div class="form__input--group">
                            <input class="input form__input" autofocus placeholder="Email" type="email" />
                        </div>
                        <div class="form__input--group">
                            <input class="input form__input form__input--error" autofocus placeholder="Password" type="password" />
                        </div>
                        <button class="form__button btn" type="submit">Next Step</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script defer src="./js/router.js"></script>
</body>

</html>