$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 991px,
  xl: 1200px,
  xxl: 1400px,
);
.ms-auto {
  margin-left: auto;
}
.me-auto {
  margin-right: auto;
}
.mx-auto {
  margin: auto;
}
@for $i from 0 through 20 {
  .m-#{$i} {
    margin: 0.5rem * $i;
  }
}
@for $i from 0 through 20 {
  .me-#{$i} {
    margin-right: 0.5rem * $i;
  }
  .me-n#{$i} {
    margin-right: -0.5rem * $i;
  }
}
@for $i from 0 through 20 {
  .ms-#{$i} {
    margin-left: 0.5rem * $i;
  }
  .ms-n#{$i} {
    margin-left: -0.5rem * $i;
  }
}
@for $i from 0 through 20 {
  .mt-#{$i} {
    margin-top: 0.5rem * $i;
  }
  .mt-n#{$i} {
    margin-top: -0.5rem * $i;
  }
}
@for $i from 0 through 20 {
  .mb-#{$i} {
    margin-bottom: 0.5rem * $i;
  }
  .mb-n#{$i} {
    margin-bottom: -0.5rem * $i;
  }
}
@for $i from 0 through 20 {
  .mx-#{$i} {
    margin-left: 0.5rem * $i;
    margin-right: 0.5rem * $i;
  }
}
@for $i from 0 through 20 {
  .my-#{$i} {
    margin-top: 0.5rem * $i;
    margin-bottom: 0.5rem * $i;
  }
}

@each $mq in (sm, md, lg, xl, xxl) {
  @media (min-width: map-get($breakpoints, $mq )) {
    @for $i from 0 through 20 {
      .m-#{$mq}-#{$i} {
        margin: 0.5rem * $i;
      }
    }
  }
}
@each $mq in (sm, md, lg, xl, xxl) {
  @media (min-width: map-get($breakpoints, $mq )) {
    @for $i from 0 through 20 {
      .ms-#{$mq}-#{$i} {
        margin-left: 0.5rem * $i;
      }
      .ms-n#{$mq}-#{$i} {
        margin-left: -0.5rem * $i;
      }
    }
  }
}
@each $mq in (sm, md, lg, xl, xxl) {
  @media (min-width: map-get($breakpoints, $mq )) {
    @for $i from 1 to 5 {
      .me-#{$mq}-#{$i} {
        margin-right: 0.5rem * $i;
      }
      .me-n#{$mq}-#{$i} {
        margin-right: -0.5rem * $i;
      }
    }
  }
}
@each $mq in (sm, md, lg, xl, xxl) {
  @media (min-width: map-get($breakpoints, $mq )) {
    @for $i from 0 through 20 {
      .mb-#{$mq}-#{$i} {
        margin-bottom: 0.5rem * $i;
      }
      .mb-n#{$mq}-#{$i} {
        margin-bottom: -0.5rem * $i;
      }
    }
  }
}
@each $mq in (sm, md, lg, xl, xxl) {
  @media (min-width: map-get($breakpoints, $mq )) {
    @for $i from 0 through 20 {
      .mt-#{$mq}-#{$i} {
        margin-top: 0.5rem * $i;
      }
      .mt-n#{$mq}-#{$i} {
        margin-top: -0.5rem * $i;
      }
    }
  }
}
@each $mq in (sm, md, lg, xl, xxl) {
  @media (min-width: map-get($breakpoints, $mq )) {
    @for $i from 0 through 20 {
      .mx-#{$mq}-#{$i} {
        margin-left: 0.5rem * $i;
        margin-right: 0.5rem * $i;
      }
    }
  }
}
@each $mq in (sm, md, lg, xl, xxl) {
  @media (min-width: map-get($breakpoints, $mq )) {
    @for $i from 0 through 20 {
      .my-#{$mq}-#{$i} {
        margin-top: 0.5rem * $i;
        margin-bottom: 0.5rem * $i;
      }
    }
  }
}