#authorDetails {
  background: $secondaryDark;
  min-width: 100%;
  height: 80px;
  color: $mainwhite;
  background-image: url(../../assets/img/booksHome/background/ornament.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  .authorDetails__bg-img {
    position: absolute;
    bottom: -180%;
    left: -45%;
    transform: rotate(90deg);
  }

  .authorDetails {
    font-family: steinbeck;
    padding-top: 140px;
    min-height: 100vh;
    .col-12 {
      flex-shrink: 1;
    }
    .authorDetails__img {
      width: 500px;
      height: auto;
      @include respond(tab-por) {
        height: 60%;
      }
      @include respond(lg) {
        height: 100%;
      }
    }
    .authorDetails__title {
      font-family: rotterburg;
      text-transform: uppercase;
      font-size: 31px;
      font-style: normal;
      font-weight: 400;
      line-height: 34px;
      letter-spacing: 0em;
      color: $mainDanger;
    }
    .authorDetails__overview {
      font-family: steinbeck;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0em;
      text-align: left;
      color: rgba(255, 255, 255, 0.8);
    }
    .authorDetails__creation-title {
      font-family: rotterburg;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      color: $mainDanger;
    }
    .authorDetails__creation-text {
      font-family: steinbeck;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
      color: rgba(255, 255, 255, 1);
    }
    .authorDetails__books {
      .authorDetails__books-title {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        color: rgba(201, 172, 140, 1);
      }
      .authorDetails__books-inner {
        align-items: center;
      }
      .authorDetails__books-card {
        text-align: center;
        width: 100px;
      }
      .authorDetails__books-icon {
        text-align: center;
      }
      .authorDetails__books-suptitle {
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
      }
      .authorDetails__books-price {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        color: rgba(255, 255, 255, 0.6);
      }
      .authorDetails__books-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          width: 200px;
          border-radius: 0px;
          border: none;
          padding: 16px 32px;
          background: rgba(201, 172, 140, 1);
          font-size: 16px;
          font-weight: 400;
          line-height: 16px;
          color: rgba(60, 39, 16, 1);
        }
      }
    }
    .authorDetails__date {
      .authorDetails__date-item {
        font-family: visuelt;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 17px;
        letter-spacing: 0.7px;
        text-align: left;
        color: rgba(255, 255, 255, 0.6);
      }
      .authorDetails__date-num {
        font-family: rotterburg;
        font-size: 39px;
        font-style: normal;
        font-weight: 400;
        line-height: 56px;
        letter-spacing: 0em;
        text-align: left;
        color: $mainDanger;
      }
    }
  }

  .bookinfo {
    min-height: 100px;
    font-family: steinbeck;
    .bookinfo__list {
      list-style: none;
      @include respond(mobile-M) {
        width: 350px;
      }
      @include respond(tab-land) {
        width: 500px;
      }
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      @include respond(mobile-M) {
        flex-wrap: nowrap;
      }
      .bookinfo__link {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 15px;
        margin-right: 15px;
        @include respond(mobile-M) {
          margin-bottom: 0;
        }
        @include respond(mobile-S) {
          margin-right: 0;
        }
      }
      .bookinfo__link:hover {
        color: $mainDanger;
      }
    }
    .bookinfo__qoute {
      position: relative;
      min-height: 250px;
      width: 100%;
      padding: 40px;
      padding-right: 60px;
      border-radius: 15px;
      overflow: hidden;
      background: linear-gradient(263.94deg, #161616 0%, #1e1e1e 98.06%);
      .bookinfo__quote-text {
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
      }
      .bookinfo__qoute-links {
        text-align: end;
        a {
          color: $mainWhite;
        }
      }
      .bookinfo__img {
        position: absolute;
        height: 250px;
        width: 250px;
        left: 60.67%;
        right: -1.01%;
        top: 6.31%;
        bottom: -24.03%;
      }
    }
    .bookinfo__qoutation {
      position: relative;
      width: 30px;
      height: auto;
      top: 11px;
      left: 30px;
      z-index: 10;
    }
  }
  .bookrecommend__title-wrapper {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    line-height: 25px;
    font-size: 15px;
    @include respond(mobile-M) {
      font-size: 20px;
    }
    @include respond(tab-land) {
      font-size: 25px;
    }
    letter-spacing: 0em;
    text-align: left;
    .bookrecommend__title {
      color: rgba(201, 172, 140, 1);
    }
    .bookrecommend__title-link {
      color: rgba(255, 255, 255, 1);
    }
  }
  .bookrecommend__card-wrapper {
    flex-wrap: nowrap;
    overflow-x: scroll;
    .bookrecommend__card {
      min-height: 250px;
      margin-right: 15px;
      .bookrecommend__card-img {
        width: 150px;
      }
      .bookrecommend__card-title {
        font-family: rotterburg;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        color: rgba(201, 172, 140, 1);
      }
      .bookrecommend__card-comments {
        font-family: visuelt;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 50px;
      }
    }
  }
}
