#authorsHome {
  background: $secondaryDark;
  min-width: 100%;
  height: 80px;
  color: $mainwhite;
  background-image: url(../../assets/img/booksHome/background/ornament.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  .booksearch {
    display: flex;
    align-items: center;
    justify-self: center;
    width: 100%;
    padding-top: 150px;
    min-height: 50vh;
    margin: auto;
    @include respond(tab-por) {
      width: 60%;
    }
    margin-top: 200px;
    .container {
      border-radius: 6px;
      background: $secondaryDark;
      box-shadow: 1px 1px 5px #000, 1px 1px 5px #000;
      .row {
        flex-wrap: nowrap;
      }
      .booksearch__title {
        text-align: center;
        .booksearch__img {
          width: auto;
        }
      }
      .booksearch__issue {
        width: 100%;
        border-radius: 15px;
        border: none;
        background-color: #404040;
      }
      .booksearch__btn {
        line-height: 16px;
        border-radius: 15px;
        color: rgba(60, 39, 16, 1);
        background-color: $mainDanger;
        border: transparent;
      }
      .booksearch__btn:hover {
        color: $mainWhite;
      }
    }
  }

  .authorscategories {
    padding-top: 30px;
    .authorscategories__list {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 50px;
      @include respond(tab-land) {
        flex-wrap: nowrap;
      }
      .authorscategories__link {
        color: rgba(255, 255, 255, 0.6);
        margin: 10px;
        font-family: Steinbeck;
        font-size: 16px;
        @include respond(tab-land) {
          font-size: 18px;
        }
        @include respond(tab-por) {
          font-size: 20px;
        }
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
      }
    }
    .authorscategories__title {
      font-family: rotterburg;
      text-transform: uppercase;
      font-size: 31px;
      font-style: normal;
      font-weight: 400;
      line-height: 34px;
      letter-spacing: 0em;
      text-align: center;
      color: $mainDanger;
    }
    .authorscategories__card {
      position: relative;
      width: 165px;
      margin: 0 auto;
      text-align: center;
      overflow: hidden;
      background: linear-gradient(209.09deg, #191919 -1.68%, #212121 135.36%);
      height: auto;
      border-radius: 15px;
      border: 1px solid;
      margin-bottom: 40px;
      z-index: 10;
      .authorscategories__card-img {
        position: relative;
        width: 100%;
        height: 130px;
        z-index: 10;
      }
      .authorscategories__card-author {
        font-family: steinbeck;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        color: $mainDanger;
      }
      .authorscategories__card-date {
        font-family: steinbeck;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        color: rgba(255, 255, 255, 0.6);
      }
      .authorscategories__card-books {
        font-family: steinbeck;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
      }
      .authorscategories__bgimg {
        position: absolute;
        top: 80px;
        z-index: 1;
      }
      .authorscategories__bgimg1 {
        right: -20px;
        top: 60px;
        width: 60%;
      }
      .authorscategories__bgimg3 {
        width: 25%;
        left: 0;
        top: 195px;
      }
      .authorscategories__bgimg4 {
        width: 33%;
        left: 0;
        top: 182px;
      }
    }
  }
}
