#booksHome {
  background: $secondaryDark;
  min-width: 100%;
  height: 80px;
  color: $mainwhite;
  background-image: url(../../assets/img/booksHome/background/ornament.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  .booksearch {
    display: flex;
    align-items: center;
    justify-self: center;
    width: 100%;
    height: 160px;
    margin: auto;
    @include respond(tab-por) {
      width: 60%;
    }
    margin-top: 200px;
    .container {
      border-radius: 6px;
      background: $secondaryDark;
      box-shadow: 1px 1px 5px #000, 1px 1px 5px #000;
      .row {
        flex-wrap: nowrap;
      }
      .booksearch__title {
        text-align: center;
        .booksearch__img {
          width: auto;
        }
      }
      .booksearch__issue {
        width: 100%;
        border-radius: 15px;
        border: none;
        background-color: #404040;
      }
      .booksearch__btn {
        line-height: 16px;
        border-radius: 15px;
        color: rgba(60, 39, 16, 1);
        background-color: $mainDanger;
        border: transparent;
      }
      .booksearch__btn:hover {
        color: $mainWhite;
      }
    }
  }

  .bookcategories {
    padding-top: 30px;
    .bookcategories__list {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 50px;
      @include respond(tab-land) {
        flex-wrap: nowrap;
      }
      .bookcategories__link {
        color: rgba(255, 255, 255, 0.6);
        margin: 10px;
        font-family: Steinbeck;
        font-size: 16px;
        @include respond(tab-land) {
          font-size: 18px;
        }
        @include respond(tab-por) {
          font-size: 20px;
        }
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
      }
    }
    .bookcategories__title {
      font-family: rotterburg;
      text-transform: uppercase;
      font-size: 31px;
      font-style: normal;
      font-weight: 400;
      line-height: 34px;
      letter-spacing: 0em;
      text-align: center;
      color: $mainDanger;
    }
    .bookcategories__card {
      width: 165px;
      margin: 0 auto;
      .bookcategories__card-img {
        width: 100%;
      }
      .bookcategories__card-title {
        font-family: rotterburg;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        color: rgba(201, 172, 140, 1);
      }
      .bookcategories__author {
        font-family: Visuelt Pro;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(255, 255, 255, 0.6);
      }
      .bookcategories__card-comments {
        font-family: Visuelt Pro;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 50px;
      }
    }
  }
}
